{% extends "base.html" %}
{% block title %}Add Password{% endblock %}
{% block content %}
  <h2>Add New Password</h2>
  <form method="post">
    <div class="mb-3">
      <label class="form-label">Site</label>
      <input type="text" class="form-control" name="site" required placeholder="Enter site name" title="Site Name">
    </div>
    <div class="mb-3">
      <label class="form-label">Username</label>
      <input type="text" class="form-control" name="username" required placeholder="Enter username" title="Username">
    </div>
    <div class="mb-3">
      <label class="form-label">Password</label>
      <input type="text" id="password" class="form-control" name="password" required placeholder="Enter password" title="Password">
      <button type="button" class="btn btn-sm btn-outline-secondary mt-2" onclick="generatePassword()">Generate Strong Password</button>
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
  </form>
{% endblock %}
{% block scripts %}
<script>
  async function generatePassword() {
    const res = await fetch("/generate_password");
    const data = await res.json();
    document.getElementById('password').value = data.password;
  }
</script>
{% endblock %}
